/*-- this is a comment */
/* -- reset script
resets html elements
resets the fonts 
--*/
*,body{
    font-family:  "Roboto", sans-serif;
    font-size: 16px; /*-- base font size --*/
}

/*-- using HTML tag selectors */
div, p, section{ font-size: 1.2rem;}

/*-- using class selectors 
  recommended for re-usable styles
*/
.kelvin{
    color: red;
    font-size: 1.5rem;
}
/*-- basic house keeping .. lower case and use dash for spaces --*/
.uob-logo{
    width: 100px;
    height: 100px;
}
/*-- using id selectors 
  recommended for unique styles
  but HTML doesnt care whether u are not unique
*/
#main-header{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
/* -- all paragraphs in #main-header --*/
#main-header p{
    font-size: 1.5rem;
}
/* -- all paragraphs in #main-header with class .red --*/
/* -- <section id="main-header" class="red"> --*/
/* -- <section class="red" id="main-header"> --*/
#main-header.red{
    background-color: red;
    background-image: url('images/hero.jpg');
    background-size: cover; /*-- cover the whole div --*/
    background: url('images/hero.jpg') cover;
}



h2, p{
    color: rgba(255, 0, 0, 0.5);
    font-size: 30px;
}
p{
    font-size:10px;
   
}

a:hover{
    color:crimson;
    font-size:50px;
    font-weight: 100;
}
img:hover{
    width: 300px;
    height: 300px;
}


/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */
 @media all and (min-width: 1024px) and (max-width: 1280px) { }

 @media all and (min-width: 768px) and (max-width: 1024px) { }
 
 @media all and (min-width: 480px) and (max-width: 768px) { }
 
 @media all and (max-width: 480px) {
    /*-- hide the form on mobile--*/
    form{
        display: none;
        visibility: hidden;
    }
  }
 
 
 /* Portrait */
 @media screen and (orientation:portrait) { /* Portrait styles here */ }
 /* Landscape */
 @media screen and (orientation:landscape) { /* Landscape styles here */ }
 
 
 /* CSS for iPhone, iPad, and Retina Displays */
 
 /* Non-Retina */
 @media screen and (-webkit-max-device-pixel-ratio: 1) {
 }
 
 /* Retina */
 @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
 only screen and (-o-min-device-pixel-ratio: 3/2),
 only screen and (min--moz-device-pixel-ratio: 1.5),
 only screen and (min-device-pixel-ratio: 1.5) {
 }
 
 /* iPhone Portrait */
 @media screen and (max-device-width: 480px) and (orientation:portrait) {
 } 
 
 /* iPhone Landscape */
 @media screen and (max-device-width: 480px) and (orientation:landscape) {
 }
 
 /* iPad Portrait */
 @media screen and (min-device-width: 481px) and (orientation:portrait) {
 }
 
 /* iPad Landscape */
 @media screen and (min-device-width: 481px) and (orientation:landscape) {
 }